# venv
.venv/

# unnecessary cache
**/*/__pycache__

# workspaces settings
.vscode/
.idea/
.prettierrc
.editorconfig

# static files
static/
static_my_project/

# sqlite (development)
dev.sqlite3

# sqlite (development)
prod.sqlite3