{% extends "layouts/base.html" %}

{% block title %}
    Welcome! Login to your Account
{% endblock title %}

{% block css %}
    <style>
        .login-section {
            background-color: #508bfc;
        }

        .login-card {
            border-radius: 1rem;
        }
    </style>
{% endblock css %}

{% block content %}
    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong">
                        <div class="card-body p-5 text-center">

                            <h3 class="mb-5">Sign in</h3>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                                <label class="form-label" for="typeEmailX-2">Email</label>
                            </div>

                            <div data-mdb-input-init class="form-outline mb-4">
                                <input type="password"
                                       id="typePasswordX-2"
                                       class="form-control form-control-lg" />
                                <label class="form-label" for="typePasswordX-2">Password</label>
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-start mb-4">
                                <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                                <label class="form-check-label" for="form1Example3">Remember password</label>
                            </div>

                            <button data-mdb-button-init
                                    data-mdb-ripple-init
                                    class="btn btn-primary btn-lg btn-block"
                                    type="submit">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
