{% extends "layouts/base.html" %}

{% block title %}
    Register an Account
{% endblock title %}

{% block css %}
    <style>
        .card-registration {
            border-radius: 15px
        }

        .card-registration .select-input.form-control[readonly]:not([disabled]) {
            font-size: 1rem;
            line-height: 2.15;
            padding-left: .75em;
            padding-right: .75em;
        }

        .card-registration .select-arrow {
            top: 13px;
        }
    </style>
{% endblock css %}

{% block content %}
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration an Account</h3>
                            <form method="post" action="{% url 'register' %}">

                                {% csrf_token %}

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            {{ form.username }}
                                            <label class="form-label" for="{{ form.username.id_for_label }}">Username</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            {{ form.email }}
                                            <label class="form-label" for="{{ form.email.id_for_label }}">Email</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            {{ form.password }}
                                            <label class="form-label" for="{{ form.password.id_for_label }}">Password</label>
                                        </div>

                                    </div>
                                    <div class="col-md-6 mb-4">

                                        <div data-mdb-input-init class="form-outline">
                                            {{ form.confirm_password }}
                                            <label class="form-label" for="{{ form.confirm_password.id_for_label }}">Confirm Password</label>
                                        </div>

                                    </div>
                                </div>

                                <div class="form-check form-check-inline">
                                    {{ form.active }}
                                    <label class="form-check-label" for="{{ form.active.id_for_label }}">Active</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    {{ form.staff }}
                                    <label class="form-check-label" for="{{ form.staff.id_for_label }}">Is Staff</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    {{ form.admin }}
                                    <label class="form-check-label" for="{{ form.admin.id_for_label }}">Is Admin</label>
                                </div>

                                <div class="mt-4 pt-2">
                                    <button data-mdb-ripple-init class="btn btn-primary btn-lg" type="submit">Register</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
